body, html{
    height:100%;
    background-color: black;
}


.page-wrap{
background-image: url("../images/gangster.jpg"); 
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#directions-text, #wins-text, #current-word, #guess-count, #guessed, #userchoice-text{
    color:red;
    font-weight: bold;
    font-size: 25px;
    
}


.text-wrap{
    background-image: url("../images/white.jpg"); 
    /* background-image: url("../images/gold.jpg");  */
    float:right;
    position:relative;
    right: 230px;
    top: 45px;
    /* background:grey; */
    border: solid 5px white;
    height: 450px;
    width: 500px;
    clear:both;
}
div{
    color:white;
}


#title{
    font-family:'Cinzel', serif;
    margin: 15px;
    color: #FFD700;
    font-weight: bold;
    font-size: 75px;
    float:right;
    clear:both;
    

}

#directions{
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin-top:20px;
}

 h2, h3, h4, h5, h6{
    color:red;
    font-size: 100px;
}

.list{
    text-align:center;
    margin-top:30px;
    font-size: 20px;
}
.list1{
    text-align:center;
    font-size: 22px;
    margin-top: 15px;
}


#directions{
    animation-name: animation;
    animation-duration: 4s;
    /* animation-play-state: paused; */
  
    
}
#i1{
    position: relative;
    left: -575px;
    top: -60px;
    display:none;
}

#i2{
    position: relative;
    left: -300px;
    top: -175px;
    display:none;
}

#i3{
    position: relative;
    left: -200px;;
    top: -375px;
    display:none;
}
#i4{
    position: relative;
    left: 550px;
    top: -400px;
    display:none;
}



@keyframes animation {
0%{color:white,}
01%  {color:red;}
90% {color:white,}
100%{ visibility: hidden;}



/* 
<div class="text-wrap">
<p id="directions-text">Press any key to get started!</p>
<p>Wins:</p>
    <div id="wins-text"></div>
<p>Current Word:</p>
    <div id="current-word"></div>
<p>Number of guesses remaining:</p>
    <div id="guess-count"></div>
<p>Letters already guessed:</p>
    <div id="guessed"></div>
</div>
<p id="userchoice-text"></p> */
